
            <div class="col-12 sidebar-filter">
                <h3 class="mt-0 mb-5">Showing <span class="text-primary">12</span> Products</h3>
                <h6 class="text-uppercase font-weight-bold mb-3">Categories</h6>
                <div class="mt-2 mb-2 pl-2">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="category-1">
                    <label class="custom-control-label" for="category-1">Accessories</label>
                  </div>
                </div>
               
                
                <div class="mt-2 mb-2 pl-2">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="category-5">
                    <label class="custom-control-label" for="category-5">Shirts</label>
                  </div>
                </div>
                <div class="mt-2 mb-2 pl-2">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="category-6">
                    <label class="custom-control-label" for="category-6">Underwear</label>
                  </div>
                </div>
                <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
                <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Size</h6>
                <div class="mt-2 mb-2 pl-2">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="filter-size-1">
                    <label class="custom-control-label" for="filter-size-1">X-Small</label>
                  </div>
                </div>
                <div class="mt-2 mb-2 pl-2">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="filter-size-2">
                    <label class="custom-control-label" for="filter-size-2">Small</label>
                  </div>
                </div>
               
               
                <div class="mt-2 mb-2 pl-2">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="filter-size-5">
                    <label class="custom-control-label" for="filter-size-5">X-Large</label>
                  </div>
                </div>
                <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
                <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Price</h6>
                <div class="price-filter-control">
                  <input type="number" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
                  <input type="number" class="form-control w-50 pull-right" value="150" id="price-max-control">
                </div>
                <input id="ex2" type="text" class="slider " value="50,150" data-slider-min="10" data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]" data-value="50,150" style="display: none;">
                <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
                <a href="#" class="btn btn-lg btn-block btn-primary mt-5">Update Results</a>
              </div>
            <div class="col-10">
            
        </div>
         
        