
    .block {
        position: relative;
        width: 88%;
        background-color: lightgrey;
        padding-top: 10px;
        margin-bottom: 165px;
        padding-left: 0px !important;
        margin-left: 0px !important;
        }
        .col-4{
        padding: 0px !important;
    margin: 0px !important;
    }
    .image {
        width: 300px;
        height: 200px;
       
    }
    
    .info {
        position: absolute;
        width: 94%;
        top: 190px;
        left: 3%;
        background-color: rgb(251, 251, 251);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    
    
    }
        .cart {
        background-color: #26A69A;
        color: #fff;
        padding: 6px;
        width: 48%;
        margin-right: 2%;
        border: 2px solid #26A69A;
        cursor: pointer
    }
    
    .cart:hover {
        background-color: #00796B
    }
    
    .order {
        color: #26A69A;
        padding: 6px 5px;
        width: 48%;
        margin-left: 2%;
        border: 2px solid #26A69A;
        cursor: pointer
    }
    
    .order:hover {
        color: #fff;
        background-color: #00796B
    }
    
    .sm-font {
        font-size: 12px
    }
    .example-card {
        max-width: 400px;
       
      }
      
      .example-header-image {
        background-size: cover;
      }