<mat-toolbar class="header-toolbar" style="background-color: transparent; ">
    <mat-toolbar-row>

        
                <nav >
                    <a  mat-button >Home</a>
                    <a mat-button >Products</a
          >
          <a mat-button 
            >Contact</a
          >
          <a style="margin-left: 38% ; background-color: transparent;" mat-raised-button  matBadgeColor="warn">
            <mat-icon style="font-size: xx-large;">search</mat-icon>
           
          </a>
        </nav>
           

    </mat-toolbar-row>
</mat-toolbar>